$roboto: "Roboto", "helvetica", sans-serif;
$geometria: "Geometria", "helvetica", sans-serif;
$montserrat: 'Montserrat', sans-serif;
$kord-gradient: linear-gradient(90deg, #4351d8 0%, #6d7bff 100%);

$trueWhite: #ffffff;
$trueBlack: #000000;
$greyBlueDark: #3e425b;
$blueFilter: #114bb9;
$blueMain: #4351d8;
$greyBlue: #73778d;
$blueText: #5e6df5;
$darkFullBlue: #16171a;
